body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input,
button {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: rgb(1, 208, 208);
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgb(147, 149, 149);
  color: black;
}

#displayName {
  margin-top: 20px;
  font-size: 24px;
}
