body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto Condensed", sans-serif; */
}

.fontCSS {
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 25px;
  font-style: italic;
  font-weight: 900;
}
.fontCSS:hover {
  color: green;
}

.textCSS {
  color: red;
  letter-spacing: 2px;
  word-spacing: 4px;
  direction: ltr;
  text-align: center;
  text-transform: uppercase;
}
.textCSS:hover {
  color: black;
}

h1 > a:link {
  color: black;
}
h1 > a:visited {
  color: red;
}
h1 > a:hover {
  color: yellow;
}

.borderCSS {
  width: 150px;
  height: 150px;
  /* background-color: aqua; */
  border: 1px solid red;
  border-radius: 50%;
}

ol {
  display: flex;
  gap: 50px;
}
ol > li {
  list-style-type: lower-alpha;
}

.boxModel {
  width: 500px;
  height: 200px;
  background-color: aqua;
  margin-left: 80px;
}

.form {
  /* padding-top: 80px; */
  /* padding-left: 80px; */
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: center;
}
.boxModel .form label {
  font-size: 1.5rem;
}
.boxModel .form input {
  padding: 10px;
}

/* 
-static
-relative
    -absolute
    -fixed
    -sticky
*/

.parents {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  margin-left: 50px;
  padding: 10px;
  /* overflow: hidden; */
  position: relative;
}

.parents .child1 {
  width: 60px;
  height: 40px;
  border: 1px solid red;
  position: absolute;
}
.parents .child2 {
  width: 60px;
  height: 40px;
  border: 1px solid green;
  position: absolute;
  bottom: 0;
}
.parents .child3 {
  width: 60px;
  height: 40px;
  border: 1px solid blue;
  position: absolute;
  right: 0;
  bottom: 0;
}
